<div class="content">

    <!-- settings changer -->


    <div class="container-fluid">

        <div id="pad-wrapper">

            <div id="pad-wrapper">
                <h3>Alerts Definition</h3>
                <div class="table-products section" style="margin-top: 5px;">
                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><!--icon--></th>
                                    <th>
                                        <span class="line">Alert name</span>
                                    </th>
                                    <th>
                                        <span class="line">Description</span>
                                    </th>
                                    <th>
                                        <span class="line">Actions</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="glyphicon glyphicon-info-sign"></i></td>
                                    <td>
                                        Standard reference
                                    </td>
                                    <td>
                                        Measure analytical precision and accuracy of laboratory analyses.
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>   <a href="#">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="glyphicon glyphicon-info-sign"></i></td>
                                    <td>
                                        Contamination check
                                    </td>
                                    <td>
                                        Measure the level of contamination that may occur during the sample preparation procedure.
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>   <a href="#">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="glyphicon glyphicon-info-sign"></i></td>
                                    <td>
                                        Duplicates
                                    </td>
                                    <td>
                                        Measure the level of sample bias that may occur during the sample preparation procedure.
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>   <a href="#">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="glyphicon glyphicon-info-sign"></i></td>
                                    <td>
                                        Exploration performance
                                    </td>
                                    <td>
                                        Identify whether an extraction method is failing.
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>   <a href="#">Delete</a>
                                    </td>
                                </tr>
                            </tbody>


                    </div>
                </div>
            </div>
        </div>
